<link rel="stylesheet" href="/static/style.css" type="text/css">



<form action="/login" method="POST">
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>Login</h1>
      </div>
    <div class="login-form">
      <div class="control-group">
        <input type="password" class="login-field input_login" value="" placeholder="password" name="password">
        <label class="login-field-icon fui-lock" for="login-pass"></label></div>
      <input class="input_login" type="submit" value="Log in" class="btn btn-primary btn-large btn-block">

    </div>
    </div>
  </div>
</form>